*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  body {
      margin: 0;
      background-color: #E7F2F8;
  
  }
  .main-container{
      background-color: white;
      box-shadow: 0 0 15px -7px black;
      border-radius: 5px;
      height: 300px;
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
   #output{
      background-color: white;
      color: #05445E;
      box-shadow: 0 0 15px -7px black;
      border-radius: 5px;
      height: auto;
      width: 42%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 70px 50px 70px 50px;   
  }
  
  
  .input-box {
      padding: 20px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: #E7F2F8;
  }
  
  .main-title {
      display: flex;
      justify-content: center;
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #05445E;
  }
  
  #input-text {
      cursor: pointer;
      color: #05445E;
  }
  
  .button {
      padding: 30px;
  }
  
  .title {
      color: #05445E;
      font-size: larger;
  
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #submit-button {
      border-radius: 5px;
      border: transparent;
      font-size: 1.2rem;
      cursor: pointer;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #05445E;
      background-color: #74BDCB;
      padding: 10px 20px 10px 20px;
  }
  
 